@media screen and (width >= 80rem) {
  .container {
    margin: 1em 2em;
  }
}
* {
  font-family: 'Pixelify Sans', sans-serif;
}


body {
    font-size: 40px;
    padding: 0;
    background-color: #727272;
    background-image: repeating-linear-gradient(-45deg, #6a6a6a 0, #6a6a6a 2px, #727272 2px, #727272 11px);
    background-size: 16px 16px;
    text-align: center;
}

input {
  width: 200px;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #ef233c;
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 12px;
  background: #ef233c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #d90429;
  transform: scale(1.05);
}

#name {
  margin-top: 20px;
  color: #2b2d42;
  font-size: 32px;
}

img {
  width: 180px;
  background: white;
  border-radius: 20px;
  padding: 10px;
}

.info {
  background: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
}

.stats {
  background: white;
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
}

.stats p {
  background: #edf2f4;
  padding: 8px;
  border-radius: 10px;
  margin: 8px 0;
}

#evolution {
  background: white;
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;

}

#evolution p {
  font-size: 20px;
  font-weight: bold;
  color: #2b2d42;
}

p {
  color: #2b2d42;
  font-size: 18px;
}

.grid-container {
    max-width: 950px;
}

.main-content {
    margin: 1.25rem auto 2rem;
    padding: .75rem 1rem;
    background-color: #fff;
    border-radius: 15px;
}

.hidden {
  display: none;
}